<nav class="navbar navbar-default navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" ui-sref="app.main">
        <i class="fa fa-home"></i> LiveSafe
      </a>
    </div>
  </div>
</nav>

<div class="hero" ng-class="{'hero-lg': fullSearchBar}">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" ng-class="{'active' : !comparing}"><a ng-click="comparing=false" aria-controls="search" role="tab">Search</a></li>
          <li role="presentation" ng-class="{'active' : comparing}"><a ng-click="comparing=true" aria-controls="compare" role="tab">Compare</a></li>
        </ul>
        <div class="panel">
          <div class="panel-body">
            <div class="tab-content">
              <div class="tab-pane" ng-class="{'active' : !comparing}">
                <form>
                  <div class="input-group">
                    <input ng-disabled="loginLoading" autofocus type="text" ng-model="query" county-spaces typeahead-min-length="2" typeahead="address for address in getLocation($viewValue)" typeahead-loading="loadingLocations" typeahead-on-select='onSelect($item, $model, $label)' class="form-control input-lg" placeholder="Fairfax County, VA">
                    <span class="input-group-btn">
                      <button class="btn btn-success btn-lg" type="button" ng-click="search();">Search</button>
                    </span>
                  </div>
                </form>
              </div>
              <div class="tab-pane" ng-class="{'active' : comparing}">
                <form class="form-inline">
                  <div class="form-group">
                    <label for="compare" class="sr-only">First compare county</label>
                    <input ng-disabled="loginLoading" autofocus type="text" ng-model="query" county-spaces typeahead-min-length="2" typeahead="address for address in getLocation($viewValue)" typeahead-loading="loadingLocations" typeahead-on-select='onSelect($item, $model, $label)' class="form-control input-lg" placeholder="Fairfax County, VA">
                  </div>
                  <div class="form-group">
                    <label for="compare" class="sr-only">compare to county</label>
                    <input ng-disabled="loginLoading" autofocus type="text" ng-model="queryCompare" county-spaces typeahead-min-length="2" typeahead="address for address in getLocation($viewValue)" typeahead-loading="loadingLocations" typeahead-on-select='onSelect($item, $model, $label)' class="form-control input-lg" placeholder="Alexandria City, VA">
                  </div>
                  <button class="btn btn-success btn-lg" type="button" ng-click="search();">Compare</button>
                </form>
              </div>
            </div>
          </div>  
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-3">
          <h4 class="header-inverse">Top Counties: People</h4>
          <div class="table-responsive">
            <table class="table table-striped">
              <tr class="sr-only">
                <th>Rank</th>
                <th>County</th>
              </tr>
              <tr ng-repeat="row in topFives.socio">
                <td>{{$index+1}}</td>
                <td>{{row.countyDescription}}, {{row.stateCode}}</td>
              </tr>             
            </table>
          </div>
        </div>
        <div class="col-md-3">
          <h4 class="header-inverse">Top Counties: Travel Safety</h4>
          <div class="table-responsive">
            <table class="table table-striped">
              <tr class="sr-only">
                <th>Rank</th>
                <th>County</th>
              </tr>
              <tr ng-repeat="row in topFives.built">
                <td>{{$index+1}}</td>
                <td>{{row.countyDescription}}, {{row.stateCode}}</td>
              </tr>               
            </table>
          </div>
        </div>
        <div class="col-md-3">
          <h4 class="header-inverse">Top Counties: Air Quality</h4>
          <div class="table-responsive">
            <table class="table table-striped">
              <tr class="sr-only">
                <th>Rank</th>
                <th>County</th>
              </tr>
              <tr ng-repeat="row in topFives.air">
                <td>{{$index+1}}</td>
                <td>{{row.countyDescription}}, {{row.stateCode}}</td>
              </tr>              
            </table>
          </div>
        </div>
        <div class="col-md-3">
          <h4 class="header-inverse">Top Counties: Water Quality</h4>
          <div class="table-responsive">
            <table class="table table-striped">
              <tr class="sr-only">
                <th>Rank</th>
                <th>County</th>
              </tr>
              <tr ng-repeat="row in topFives.water">
                <td>{{$index+1}}</td>
                <td>{{row.countyDescription}}, {{row.stateCode}}</td>
              </tr>              
            </table>
          </div>
        </div>
      </div>  
    </div>
  </div>
</div>
<hr />
<footer class="footer">
  <div class="container text-right">
    <p class="text-muted"><i class="fa fa-home"></i> LiveSafe</p>
  </div>
</footer>

