<nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="index.html">Inflo</a>
    </div>
  </div>
</nav>

<div class="hero">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-2 text-right">
        <form>
          <div class="form-group">
            <input type="text" class="form-control input-lg" placeholder="Search for Fairfax County, VA">
          </div>
          <div class="form-group">
            <input type="text" class="form-control input-lg" placeholder="Compare to Alexandria City, VA">
          </div>
        </form>
      </div>
      <div class="col-md-2 text-left">
        <a class="btn btn-success btn-lg" type="button" href="compare-landing.html">Search</a>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-3">
          <h4>Top Counties: People</h4>
          <div class="table-responsive">
            <table class="table table-striped">
              <tr>
                <th>County</th>
                <th>Score</th>
              </tr>
              <tr>
                <td>County1</td>
                <td>Score1</td>
              </tr>
              <tr>
                <td>County2</td>
                <td>Score2</td>
              </tr>
              <tr>
                <td>County3</td>
                <td>Score3</td>
              </tr>
              <tr>
                <td>County4</td>
                <td>Score4</td>
              </tr>
              <tr>
                <td>County5</td>
                <td>Score5</td>
              </tr>              
            </table>
          </div>
        </div>
        <div class="col-md-3">
          <h4>Top Counties: Travel Safety</h4>
          <div class="table-responsive">
            <table class="table table-striped">
              <tr>
                <th>County</th>
                <th>Score</th>
              </tr>
              <tr>
                <td>County1</td>
                <td>Score1</td>
              </tr>
              <tr>
                <td>County2</td>
                <td>Score2</td>
              </tr>
              <tr>
                <td>County3</td>
                <td>Score3</td>
              </tr>
              <tr>
                <td>County4</td>
                <td>Score4</td>
              </tr>
              <tr>
                <td>County5</td>
                <td>Score5</td>
              </tr>              
            </table>
          </div>
        </div>
        <div class="col-md-3">
          <h4>Top Counties: Air Quality</h4>
          <div class="table-responsive">
            <table class="table table-striped">
              <tr>
                <th>County</th>
                <th>Score</th>
              </tr>
              <tr>
                <td>County1</td>
                <td>Score1</td>
              </tr>
              <tr>
                <td>County2</td>
                <td>Score2</td>
              </tr>
              <tr>
                <td>County3</td>
                <td>Score3</td>
              </tr>
              <tr>
                <td>County4</td>
                <td>Score4</td>
              </tr>
              <tr>
                <td>County5</td>
                <td>Score5</td>
              </tr>              
            </table>
          </div>
        </div>
        <div class="col-md-3">
          <h4>Top Counties: Water Quality</h4>
          <div class="table-responsive">
            <table class="table table-striped">
              <tr>
                <th>County</th>
                <th>Score</th>
              </tr>
              <tr>
                <td>County1</td>
                <td>Score1</td>
              </tr>
              <tr>
                <td>County2</td>
                <td>Score2</td>
              </tr>
              <tr>
                <td>County3</td>
                <td>Score3</td>
              </tr>
              <tr>
                <td>County4</td>
                <td>Score4</td>
              </tr>
              <tr>
                <td>County5</td>
                <td>Score5</td>
              </tr>              
            </table>
          </div>
        </div>
      </div>  
    </div>
  </div>
</div>
<hr />
<footer class="footer">
  <div class="container">
    <p class="text-muted">Inflo</p>
  </div>
</footer>

