/**
 *  Do not remove this comments bellow. It's the markers used by wiredep to inject
 *  less dependencies when defined in the bower.json of your dependencies
 */
// bower:less
// endbower

/**
 *  If you want to override some bootstrap variables, you have to change values here.
 *  The list of variables are listed here bower_components/bootstrap/less/variables.less
 */
@navbar-inverse-link-color: #5AADBB;
@icon-font-path: '../../bower_components/bootstrap/fonts/';
@fa-font-path: '../../bower_components/font-awesome/fonts';

body { color: #333333; }

div[ui-view=content] {
  outline: none !important;
}

[dropdown],[ng-click], [uib-popover] {
  cursor: pointer;
}

a:hover, a:active, a:focus, .btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn.focus:active, .btn.active.focus {
	outline:0;
}

.text-success { color: #58bcab; }

.btn, .nav-tabs>li>a, .panel, .input-group .form-control:first-child, .input-group-addon:first-child, .input-group-btn:first-child>.btn, .input-group-btn:first-child>.btn-group>.btn, .input-group-btn:first-child>.dropdown-toggle, .input-group-btn:last-child>.btn:not(:last-child):not(.dropdown-toggle), .input-group-btn:last-child>.btn-group:not(:last-child)>.btn { border-radius: 0; }

.navbar-inverse { background-color: transparent; border-color: #3498db; }
.navbar-inverse .navbar-brand, 
.navbar-inverse .navbar-brand:hover, 
.navbar-inverse .navbar-brand:focus {
	color: #fff; background-color: #349987; display: block; height: auto; padding: 15px 15px;
}

.nav-tabs { border-bottom: 0; }
.nav-tabs>li>a { color: #fff; }
.nav-tabs>li>a:hover { color: #18bc9c; }

.hero { background-color: #334c5b; padding: 140px 0 110px; margin: -120px 0 40px; }
.no-bg { background-color: transparent; }
.hero .form-control, .hero input { border: 0; }

.progress { height: 25px; margin: 5px 0 5px; }
.progress .progress-bar { line-height: 15px; font-size: 15px; padding: 5px 10px 0 10px; }

.header-inverse { background-color: #339999; color: #fff; padding: 10px; }

ul[id^=typeahead] {
	width:50%;
	margin-top:6px;
	height:300px;
	overflow:auto;
}

ul[id^=typeahead] li a {
	padding:10px;
}


ul[id^=typeahead] .dropdown-menu > .active > a, ul[id^=typeahead] .dropdown-menu > .active > a:hover, ul[id^=typeahead] .dropdown-menu > .active > a:focus {
	background-color:#3498db;
}

#loading-bar, #loading-bar-spinner {
	z-index:10000;
}
#loading-bar .bar {
	background:#fff;
}

#loading-bar .bar {
	background:#fff;
}

#loading-bar .bar .peg {
	box-shadow: 1px 0 6px 1px #ccc;
}

.top-five-winner {
	font-weight:bold;
}

/**
 *  Do not remove this comments bellow. It's the markers used by gulp-inject to inject
 *  all your less files automatically
 */
// injector
// endinjector