    <nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" ui-sref="app.main">Inflo</a>
        </div>
      </div>
    </nav>

    <div class="hero" ng-class="{'hero-lg': fullSearchBar}">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <ul class="nav nav-pills" role="tablist">
              <li role="presentation" ng-class="{'active' : !comparing}"><a ng-click="comparing=false" aria-controls="search" role="tab">Search</a></li>
              <li role="presentation" ng-class="{'active' : comparing}"><a ng-click="comparing=true" aria-controls="compare" role="tab">Compare</a></li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane" ng-class="{'active' : !comparing}">
                <form>
                  <div class="input-group">
                    <input ng-disabled="loginLoading" autofocus type="text" ng-model="query" county-spaces typeahead-min-length="2" typeahead="address for address in getLocation($viewValue)" typeahead-loading="loadingLocations" typeahead-on-select='onSelect($item, $model, $label)' class="form-control input-lg" placeholder="Search for Fairfax County, VA">
                    <span class="input-group-btn">
                      <button class="btn btn-success btn-lg" type="button" ng-click="search();"><i class="fa fa-search"></i><span class="sr-only">Search</span></button>
                    </span>
                  </div>
                </form>
              </div>
              <div class="tab-pane" ng-class="{'active' : comparing}">
                <form class="form-inline">
                  <div class="form-group">
                    <label for="compare" class="sr-only">First compare county</label>
                    <input ng-disabled="loginLoading" autofocus type="text" ng-model="query" county-spaces typeahead-min-length="2" typeahead="address for address in getLocation($viewValue)" typeahead-loading="loadingLocations" typeahead-on-select='onSelect($item, $model, $label)' class="form-control input-lg" placeholder="Fairfax County, VA">
                  </div>
                  <div class="form-group">
                    <label for="compare" class="sr-only">compare to county</label>
                    <input ng-disabled="loginLoading" autofocus type="text" ng-model="queryCompare" county-spaces typeahead-min-length="2" typeahead="address for address in getLocation($viewValue)" typeahead-loading="loadingLocations" typeahead-on-select='onSelect($item, $model, $label)' class="form-control input-lg" placeholder="Alexandria City, VA">
                  </div>
                  <button class="btn btn-success btn-lg" type="button" ng-click="search();">Compare</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-5 text-right">
          <h4>{{countyData.county_name}}</h4>
          <hr />
          <h5>{{countyData.overall_result_perc  | number : 0}}%</h5>
          <p>&nbsp;</p>
          <p>{{countyData.detail.socio.income | currency}}</p>
          <p>{{countyData.detail.socio.unemployed | number : 2}}</p>
          <p>{{countyData.detail.socio.crimes | number : 2}}</p>
          <p>&nbsp;</p>
          <p>{{countyData.detail.infra.highway | number : 2}}</p>
          <p>{{countyData.detail.infra.streets | number : 2}}</p>
          <p>{{countyData.detail.infra.fatalities | number : 2}}</p>
          <p>&nbsp;</p>
          <p>{{countyData.detail.air.nitro | number : 2}}</p>
          <p>{{countyData.detail.air.sulfur | number : 2}}</p>
          <p>{{countyData.detail.air.carbon | number : 2}}</p>
          <p>&nbsp;</p>
          <p>{{countyData.detail.water.drought | number : 2}}</p>
          <p>{{countyData.detail.water.mercury | number : 2}}</p>
          <p>{{countyData.detail.water.arsenic | number : 2}}</p>
        </div>
        <div class="col-md-2 text-center">
          <h4>&nbsp;</h4>
          <hr />
          <h5>&nbsp;</h5>
          <p><strong>People</strong></p>
          <p>income</p>
          <p>unemployed</p>
          <p>crimes</p>
          <p><strong>Traffic</strong></p>
          <p>highway</p>
          <p>streets</p>
          <p>fatalities</p>
          <p><strong>Air</strong></p>
          <p>nitro</p>
          <p>sulfur</p>
          <p>carbon</p>
          <p><strong>Water</strong></p>
          <p>drought</p>
          <p>mercury</p>
          <p>arsenic</p>
        </div>
        <div class="col-md-5" ng-show="!queryCompareShow">
          <h4>National Average</h4>
          <hr />
          <h5>&nbsp;</h5>
          <p>&nbsp;</p>
          <p>{{countyData.detail.socio.income_avg | currency}}</p>
          <p>{{countyData.detail.socio.unemployed_avg | number : 2}}</p>
          <p>{{countyData.detail.socio.crimes_avg | number : 2}}</p>
          <p>&nbsp;</p>
          <p>{{countyData.detail.infra.highway_avg | number : 2}}</p>
          <p>{{countyData.detail.infra.streets_avg | number : 2}}</p>
          <p>{{countyData.detail.infra.fatalities_avg | number : 2}}</p>
          <p>&nbsp;</p>
          <p>{{countyData.detail.air.nitro_avg | number : 2}}</p>
          <p>{{countyData.detail.air.sulfur_avg | number : 2}}</p>
          <p>{{countyData.detail.air.carbon_avg | number : 2}}</p>
          <p>&nbsp;</p>
          <p>{{countyData.detail.water.drought_avg | number : 2}}</p>
          <p>{{countyData.detail.water.mercury_avg | number : 2}}</p>
          <p>{{countyData.detail.water.arsenic_avg | number : 2}}</p>
        </div>
        <div class="col-md-5" ng-show="queryCompareShow">
          <h4>{{countyDataCompare.county_name}}</h4>
          <hr />
          <h5>&nbsp;</h5>
          <p>&nbsp;</p>
          <p>{{countyDataCompare.detail.socio.income | currency}}</p>
          <p>{{countyDataCompare.detail.socio.unemployed | number : 2}}</p>
          <p>{{countyDataCompare.detail.socio.crimes | number : 2}}</p>
          <p>&nbsp;</p>
          <p>{{countyDataCompare.detail.infra.highway | number : 2}}</p>
          <p>{{countyDataCompare.detail.infra.streets | number : 2}}</p>
          <p>{{countyDataCompare.detail.infra.fatalities | number : 2}}</p>
          <p>&nbsp;</p>
          <p>{{countyDataCompare.detail.air.nitro | number : 2}}</p>
          <p>{{countyDataCompare.detail.air.sulfur | number : 2}}</p>
          <p>{{countyDataCompare.detail.air.carbon | number : 2}}</p>
          <p>&nbsp;</p>
          <p>{{countyDataCompare.detail.water.drought | number : 2}}</p>
          <p>{{countyDataCompare.detail.water.mercury | number : 2}}</p>
          <p>{{countyDataCompare.detail.water.arsenic | number : 2}}</p>
        </div>        
      </div>
    </div>
    <hr />
    <footer class="footer">
      <div class="container">
        <p class="text-muted">Inflo</p>
      </div>
    </footer>